<h2 id="desc" class="list">Vocabulaires contrôlés et ontologies importés<span class="backlink"> Retour vers <a href="#toc">Table des Matières</a></span></h2>
<span class="markdown">
Pour faciliter l'import, un script concatène automatiquement les fichiers .ttl dans un fichier .trig avec le graphe nommé spécifié dans la [nomenclature de graphes nommés](https://gitlab.com/mnemotix/ddf/ddf-data/-/blob/master/ddf-repository/graphes-nomm%C3%A9s-DDF.md) adoptées pour le projet. Ces fichiers sont ajoutés à la racine du projet (et aussi accessible depuis la documentation):

* Modèles et données individuelles [ddf-mnx.trig](https://gitlab.com/mnemotix/ddf/ddf-models/-/raw/master/ddf-mnx.trig?inline=false) contenant:
    * l'ontologie DDF
    * l'ontologie MNX (module de base)
* Tous les vocabulaires ainsi que les données géographiques pour le vocabulaire Place.ttl dans [vocabularies.trig](https://gitlab.com/mnemotix/ddf/ddf-models/-/raw/master/vocabularies.trig?inline=false)  

</span>